/* styling for index.html */

* {
    box-sizing: border-box;
}

body {
    background-color: #7690ad;
}

p {
    font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", sans-serif;
    text-align: center;
    margin-top: 150px;
    color: #fff;
}

header {
    align-items: center;
    text-align: center;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    background-color: #5a7a9e;
    opacity: 50%;
    color: #000000;
}

#employee-container {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    font-size: 15px;
    padding: 10%;
    padding-top: 5%;
   
}

.card-body {
    padding: 10%;
    margin: 5%;
}

.card {
    margin: 15px;
}

.card-title {
    background-color: #75a8e2;
    text-align: center;
    color: #000000;
    font-size: 30px;
}

li {
    list-style: none;
}